{% extends "common/base.html" %}

{% block title %}成績一覧 - My App{% endblock %}

{% block content %}
<h1>商品例</h1>
<div id="top" align="right"><a href="#bottom">▼ページ後尾</a></div>
<h3>■参加人数の選択</h3>
<form action="/award_lst" method="get">
<select name="num" size="1">
	<option value="">参加人数を選択してください</option>
	<option value="10">10人</option>
	<option value="11">11人</option>
	<option value="12">12人</option>
	<option value="13">13人</option>
	<option value="14">14人</option>
	<option value="15">15人</option>
	<option value="16">16人</option>
	<option value="17">17人</option>
	<option value="18">18人</option>
	<option value="19">19人</option>
	<option value="20">20人</option>
	<option value="21">21人</option>
	<option value="22">22人</option>
	<option value="23">23人</option>
	<option value="24">24人</option>
	<option value="25">25人</option>
	<option value="26">26人</option>
	<option value="27">27人</option>
	<option value="28">28人</option>
	<option value="29">29人</option>
	<option value="30">30人</option>
	<option value="31">31人</option>
	<option value="32">32人</option>
	<option value="33">33人</option>
	<option value="34">34人</option>
	<option value="35">35人</option>
	<option value="36">36人</option>
	<option value="37">37人</option>
	<option value="38">38人</option>
	<option value="39">39人</option>
	<option value="40">40人</option>
</select>
<p></p>
<p>&nbsp;<input type="submit" value="確認する"/></p>
</form>
<br/>
<h3>■商品例({{num}}人参加)</h3>
<table border="1" cellspacing="0" cellpadding="0">
    <tr bgcolor="#80FF80">
        <th>&nbsp;#&nbsp;</th>
        <th>&nbsp;商品&nbsp;</th>
        <th>&nbsp;金額&nbsp;</th>
    </tr>
    {% for item in award_lst %}
    <tr>
        {% if loop.index == award_lst|length %}
            <td align="center" colspan="2">{{item['rank']}}</td>
            <td align="center">{{item['yen']}}円</td>
        {% else %}
            <td align="center">{{loop.index}}</td>
            <td align="center">{{item['rank']}}</td>
            <td align="center">{{item['yen']}}円</td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
<div id="bottom" align="right"><a href="#top">▲ページ先頭</a></div>
{% endblock %}